<div id="content-header">
  <img src="/images/admission/admission_page_logo.jpg" alt="" />
  <h1>Examination results</h1>
  <h3>Add or edit results</h3>
  <div id="app-back-button">
    <%= link_to image_tag("/images/buttons/back.png", :border => 0), :back %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %><p class="flash-msg"> <%= flash[:notice] %> </p><% end %>

  <div id="form-content">
    <div class="text-input-bg">
      <%= select :examination_result, :course_id, @courses.map { |c| [c.grade + " - " + c.section, c.id] },
        {:prompt => "Select course"},
        {:onChange => "#{remote_function(:url => {:action => "update_subjects"}, 
        :with => "'course_id='+value",
        :before => "Element.show('loader')",
        :success => "Element.hide('loader')"
        )}"}%>
    </div>
    <div id="subjects1"> <%= render :partial => 'subjects', :object => @subjects %></div>
    <div id="exams1"> <%=render :partial => 'exams', :object => @exams %> </div>
    <%= image_tag("loader.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "loader",
              :style =>"display: none;" ) %>
    <div class="extender"></div>
  </div>
  <div id="exam_result"></div>
</div>