<script src="/javascripts/jquery/scroller/dw_event.js" type="text/javascript"></script>
<script src="/javascripts/jquery/scroller/dw_scroll.js" type="text/javascript"></script>
<script src="/javascripts/jquery/scroller/dw_scrollbar.js" type="text/javascript"></script>
<script src="/javascripts/jquery/scroller/scroll_controls.js" type="text/javascript"></script>
<script type="text/javascript">
  function init_dw_Scroll() {
    var wndo = new dw_scrollObj('wn', 'lyr1', 't1');
    wndo.setUpScrollbar("dragBar", "track", "h", 1, 1);
    wndo.setUpScrollControls('scrollbar');
}

// if code supported, link in the style sheet and call the init function onload
if ( dw_scrollObj.isSupported() ) {
    //dw_writeStyleSheet('css/scroll.css');
    dw_Event.add( window, 'load', init_dw_Scroll);
}

</script>

<div id="content-header">
  <img src="/images/admission/admission_page_logo.jpg" alt="" />
  <h1>View results</h1>
  <h3>For all subjects</h3>
  <div id="app-back-button">
    <%= link_to image_tag("/images/buttons/back.png", :border => 0), :back %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <% form_for :examination_result do %>
    <div id="courses1"> <div class="text-input-bg"> <%= select :examination_result, :course_id, @courses.map { |c| [c.grade + " - " + c.section, c.id] },
          {:prompt => "Select course"},
          {:onChange => "#{remote_function(:url => {:action => "load_examtypes"},
          :with => "'course_id='+value",
          :before => "Element.show('loader')",
          :success => "Element.hide('loader')"
          )}"} %> </div>
    </div>

    <div class="text-input-bg"> <div id="examtypes1"> <%= render :partial => "load_examtypes", :with => @examtypes  %> </div> </div>
    <%= image_tag("loader.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "loader",
              :style =>"display: none;" ) %>
    <div class="extender"></div>
  <% end %>
  <div id="student"> </div>
</div>