<% unless @master_categories.empty? %>
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
      <td>Sl no.</td>
      <td>Fees Name</td>
      <td>Batch Name</td>
      <td>Created Date</td>
    </tr>
    <tr class="tr-blank"></tr>

    <% @master_categories.each_with_index do |fees,i| %>
      <tr class="tr-<%= cycle("odd","even") %>">
        <td class="col-1"><%= i+1 %></td>
        <td class="col-2"><%= link_to_remote fees.name,:url => {:action => 'master_category_particulars',:id => fees.id }%>
          <%  unless fees.check_fee_collection == false %>
            <span class="small"> <%= link_to_remote 'Delete', :url => { :action => 'master_category_delete',:id => fees.id} %></span>
          <% else %>
            <span class="small-strike">delete</span>
          <% end %>
          <span class="small"> <%= link_to_remote 'Edit', :url => { :action => 'master_category_edit',:id => fees.id} %></span>
        </td>
        <td class="col-3"><%= shorten_string(fees.batch.full_name,20) unless fees.batch.nil?%> </td>
        <td class="col-3"><%= fees.created_at.strftime("%m-%d-%Y") %></td>
      </tr>
    <% end %>


  </table>
  <%= will_paginate @master_categories %>
<% else %>
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
      <td>No Categories to display!</td>
    </tr>
  </table>

<% end%>